<h2 class="title">Flight Search</h2>

<form #form="ngForm">

  <div class="form-group">
    <label>From:</label>
    <input [ngModel]="_state.from()" (ngModelChange)="_state.from.set($event)" name="from" class="form-control">
  </div>

  <div class="form-group">
    <label>To:</label>
    <input [ngModel]="_state.to()" (ngModelChange)="_state.to.set($event)" name="to" class="form-control">
  </div>

  <div class="form-group">
    <button (click)="search()" class="btn btn-default">
      Search
    </button>

    <button class="btn btn-default" (click)="delay()">
      Delay 1st Flight
    </button>

  </div>
</form>

<div class="row">

  <div *ngFor="let f of state.flights()" class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
    <flight-card [item]="f" [selected]="_state.basket()[f().id()]" />
  </div>
 
</div>

<br>

<h4>Basket</h4>
<ul>
  <li *ngFor="let key of basketKeys">{{key}}: {{ $any(this._state.basket())[key]() }} </li>
</ul>