<h2 class="title">Flight Search</h2>

<form #form="ngForm">

  <div class="form-group">
    <label>From:</label>
    <input [value]="from()" (keydown)="from.set($any($event).target.value)" appCity name="from" class="form-control">
  </div>

  <div class="alert alert-warning" *ngIf="form?.controls?.['from']?.hasError('appCity')">
    Invalid city!
  </div>

  <div class="form-group">
    <label>To:</label>
    <input [value]="to()" (keydown)="to.set($any($event).target.value)" class="form-control">
  </div>

  <div *ngIf="loading()">
    <i>Loading...</i>
  </div>

</form>

<div class="row">
  <div *ngFor="let f of flights()" class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
    <flight-card [item]="f" [(selected)]="basket()[f.id]" />
  </div>
</div>

<pre>{{ basket() | json }}</pre>