<h2 class="title">Welcome!</h2>
<h3>You have arrived at <b>ComeFlyWithMe Airlines</b>... a POC (proof-of-concept) Flight Application designed by 
    <br> Alan Sealy, Software Engineer for Sealy Enterprises, LLC.</h3>
<h3 class="mt-3">The application is an Angular v16 stand-alone that features: <br>
Signals, SSR (server-side-rendering), with Non-hydration and NgRx App state.</h3>
<h3>The Domains includes: Check-in and Ticketing.</h3>
<h3>Thanks for flying with us, and hope you enjoy the flight!</h3>