.active-card {
    background-color: rgb(204, 197, 185);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a {
    color: black;
}

.app-container {
    padding: 20px;
}