/* You can add global styles to this file, and also import other style files */
body {
    background-color:#fafafa;
}

.active-card {
    background-color: antiquewhite;
}

input, button {
    margin: 2px;
}

.error {
    font-size: 1.2em;
    color: darkred;
}

.status {
    font-size: 1.2em;
}